---
import Page from "../../layouts/Page.astro";
import NotePage from "../../components/react/note-page";
import db from "../../server/db/db";
import { eq } from "drizzle-orm";
import { notes } from "../../server/db/schema";

const { id: paramsId } = Astro.params;
const id = paramsId!;

const note = await db.select().from(notes).where(eq(notes.id, id));
const title = note[0].title;
---

<Page title={`${title}`}>
  <div class="dark:text-white text-2xl font-semibold tracking-wide mb-2">
    {title}
  </div>
  <div style="display: flex; justify-content: space-evenly; width: 80vw;">
    <NotePage id={id} client:load />
  </div>
</Page>
