---
import Page from "../../layouts/Page.astro";
import NoteEditor from "../../components/react/note-editor";

const { id: paramsId } = Astro.params;
const id = paramsId!;
---

<Page title={`Note ${id}`}>
  <div class="dark:text-whitef">
    Welcome to note {id}!
  </div>
  <NoteEditor client:load id={id} />
</Page>
