---
import Page from "../layouts/Page.astro";
import ChatComponent from "../components/react/chat";
---

<Page title="Chat">
  <div>
    <div
      class="flex items-center py-6 bg-[#e3e8ed] dark:bg-card rounded-lg pl-10 mb-7"
    >
      <!-- perfil brainypad-->
      <img
        src="/iconBrainy.webp"
        alt="Icono de Brainy AI"
        class="w-14 h-14 rounded-full mr-4"
      />
      <h1 class="text-xl font-bold">Brainy AI</h1>
    </div>
    <div class="flex justify-between">
      <!-- Ajustado para separar los contenidos -->
      <ChatComponent showRefs client:load />
    </div>
  </div>
</Page>
