---
// Import your layout and the Chat component
import Layout from "../layouts/Layout.astro";
import Chatt from "../components/react/chat";
---

<Layout client:load>
  <div class="container mx-auto px-4">
    <div class="py-6 bg-[#e3e8ed] rounded-lg pl-10 mb-7">
      <h1 class="text-xl font-bold mb-4">Brainy AI</h1>
    </div>
    <Chatt client:load />
  </div>
</Layout>
