---
// Import your layout and the Chat component
import Layout from "../layouts/Layout.astro";
import Chatt from "../components/react/chat";
---

<Layout client:load>
  <div class="container mx-auto px-4">
    <div class="flex items-center py-6 bg-[#e3e8ed] rounded-lg pl-10 mb-7">
      <!-- <img
        src="/images/iconBrainy.webp"
        alt="Icono de Brainy AI"
        class="w-12 h-12 rounded-full mr-4"
      /> -->
      <h1 class="text-xl font-bold">Brainy AI</h1>
    </div>
    <Chatt client:load />
  </div>
</Layout>
