---
import Page from "../layouts/Page.astro";
import ChatComponent from "../components/react/chat";
---

<Page title="Chat">
    <div
      class="flex items-center py-6 bg-[#e3e8ed] dark:bg-card dark:text-white rounded-lg pl-10 mb-7 overflow-y-hidden"
    >
      <!-- perfil brainypad-->
      <img
        src="/brainypad.svg"
        alt="brainypad icon"
        class="w-14 h-14 rounded-full mr-4 object-cover dark:invert"
      />
      <h1 class="text-xl font-bold">Brainy AI</h1>
    </div>
    <div class="flex justify-between">
      <!-- Ajustado para separar los contenidos -->
      <ChatComponent client:load />
    </div>
</Page>
