---
import Page from "../../layouts/Page.astro";
import FilePreview from "../../components/react/file-preview";
import Chat from "../../components/react/chat";

const { id: paramsId } = Astro.params;
const id = paramsId!;
---

<Page title={`Note ${id}`}>
  <div class="text-lg mb-4 dark:text-white">
    Welcome to file {id}!
  </div>
  <div style="display: flex; justify-content: space-evenly; width: 80vw;">
    <FilePreview client:load id={id} />
    <Chat client:load />
  </div>
</Page>