---
import Page from "../../layouts/Page.astro";

import FilePage from "../../components/react/file-page";

const { id: paramsId } = Astro.params;
const id = paramsId!;
---

<Page title={`Note ${id}`}>
  <div style="display: flex; justify-content: space-evenly; width: 80vw;">
    <FilePage client:load id={id} />
  </div>
</Page>
