---
// Import the Sidebar component
import Sidebar from "../components/astro/sidebar.astro";
import ReactSidebar from "../components/react/Sidebar";
---

<style>
  .container {
    display: flex; /* Ensures the sidebar and content are side-by-side */
    min-height: 100vh; /* Full viewport height */
  }
  .content {
    flex-grow: 1; /* Takes up the remaining space */
    padding: 20px; /* Padding around the content */
    background-color: #fff; /* White background for the content area */
    overflow-y: auto; /* Adds scroll to content if needed */
  }
</style>

<div class="container">
  <ReactSidebar client:load />
  <!-- <Sidebar client:load /> -->
  <main class="content">
    <slot />
    <!-- This slot will be replaced by specific page content -->
  </main>
</div>
