---
import ReactSidebar from "../components/react/Sidebar";
---

<style is:global>
  .container {
    display: flex; /* Ensures the sidebar and content are side-by-side */
    min-height: 100vh; /* Full viewport height */
    min-width: 100vw; /* Full viewport width */
  }
  .content {
    width: 100%; /* Takes up the remaining space */
    flex-grow: 1; /* Takes up the remaining space */
    padding: 15px; /* Padding around the content */
    overflow-y: auto; /* Adds scroll to content if needed */
  }
</style>

<div class="container bg-white dark:bg-background">
  <ReactSidebar client:only="react" />
  <!-- <Sidebar client:load /> -->
  <main class="content bg-white dark:bg-background ">
    <!-- layout color -->
    <slot />
    <!-- This slot will be replaced by specific page content -->
  </main>
</div>
